html {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  text-shadow: 1px 1px #000;
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

.wallpaper,
.picture-shadow,
.picture-image {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
}

.wallpaper,
.picture-shadow,
.picture-image,
.name,
.job,
.hr,
.description,
.contact,
.social li {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
  animation-fill-mode: both;
}

.job,
.button {
  font-family: "Montserrat", "Quicksand", sans-serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
button,
.social a {
  transform-origin: center;
  transition-duration: 500ms;
}
.picture-shadow,
.picture-image {
  animation-duration: 750ms;
  animation-timing-function: cubic-bezier(0, 0.5, 0.25, 1.25);
  animation-delay: 500ms;
}

.about {
  max-width: 26rem;
  margin-top: 30px;
}
.button {
  background-color: #fff;
  border-radius: 290486px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #ff3300;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25em 2em;
  text-shadow: none;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
}
.button:hover {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transform: scale(1.02) translateY(-4px);
}
.button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: scale(0.98) translateY(-2px);
}
.break {
  flex-basis: 100%;
  height: 0;
}
.contact {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  vertical-align: top;
  animation-name: bounceIn;
  animation-delay: 600ms;
}
.content {
  display: flex;
  position: relative;
  min-height: 100vh;
}
.description {
  font-size: 1.4rem;
  animation-name: slideUp;
  animation-delay: 400ms;
}
.side {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -4rem;
  max-height: 20rem;
  max-width: 20rem;
  margin-bottom: 80px;
}
.side p {
  font-size: 1.3rem;
  animation-name: slideUp;
  animation-duration: 750ms;
  line-height: 1.7;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5);
}
.job {
  color: #ffe479;
  animation-name: slideUp;
  animation-delay: 200ms;
}
.hr {
  background-color: #ff470f;
  border: none;
  content: "";
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left;
  width: 24rem;
  animation-name: fillUp;
  animation-duration: 2500ms;
  animation-delay: 300ms;
}
.name {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
  animation-name: slideDown;
  animation-delay: 100ms;
}
.picture {
  padding-top: 100%;
  position: relative;
  width: 100%;
}
picture.is-loaded .picture-shadow {
  animation-name: picShadow;
}
.picture.is-loaded .picture-image {
  animation-name: picImage;
}

.picture-shadow {
  border-radius: 290486px;
  background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 70%);
  position: absolute;
  top: 10%;
  /* animation-name: picShadow; */
}
.picture-image {
  border-radius: 290486px;
  position: absolute;
  /* animation-name: picImage; */
}
.social {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;
  opacity: 0.5;
  transition-property: opacity, transform;
  width: 2rem;
  will-change: opacity, transform;
}
.social a:hover {
  opacity: 1;
  transform: scale(1.25);
}
.social a:active {
  opacity: 1;
  transform: scale(1.1);
}
.social li {
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
  animation-duration: 500ms;
  animation-name: slideUp;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5);
}

.social li:nth-child(1) {
  animation-delay: 800ms;
}
.social li:nth-child(2) {
  animation-delay: 900ms;
}
.social li:nth-child(3) {
  animation-delay: 1s;
}
.social li:nth-child(4) {
  animation-delay: 1.1s;
}
.social li:nth-child(5) {
  animation-delay: 1.2s;
}

.wallpaper {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.2;
  position: fixed;
  animation-timing-function: ease-out;
}

.wallpaper.is-loaded {
  animation-delay: 1s;
  animation-name: zoomOut;
}
/* Below seems to reduce the ugly whitespace that appears at bottom of screen when scrolling down on mobile */
.gradient {
  display: block;
  background-image: linear-gradient(to bottom right, rgb(51, 214, 255), rgb(36, 188, 87, 1));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateZ(0);
  will-change: transform;
  /* above creates a new paint layer */
  z-index: -1;
}

@media screen and (max-width: 799px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
  }
  .side {
    margin-bottom: 3rem;
    width: 100%;
  }
  .about {
    width: 100%;
  }
  .wallpaper {
    visibility: hidden;
  }
}

@media screen and (min-width: 800px) {
  .content {
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 4rem;
  }
  .side {
    flex-grow: 0;
    flex-shrink: 0;
    height: 20rem;
    margin-left: 4rem;
    order: 2;
    width: 20rem;
  }
  .about {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .wallpaper {
    background-image: url("../images/Taichung-countryside.webp");
  }
}